*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul, ol, li{
    list-style: none;
}

.quadrados{
    width: 100%;
    height: 200px;
    background-color: lightblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.quadrados div{
    width: 100px;
    height: 100px;
    background-color: blue;
    box-shadow: 4px 4px 4px black;
}

.circulos{
    width: 100vw;
    height: 200px;
    background-color: lightcoral;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circulos div{
    width: 100px;
    height: 100px;
    background-color: tomato;
    border-radius: 50%;
    box-shadow: 4px 4px 8px black;
}